/* CSS Document
*
* @autor Fernanda Pieretti
* @data fev2018
* @ref intranet.css
*
*/

body{font-family:Lato;color:#363636}
.flex{display:-ms-flexbox;display:flex}

#header{background:#0b4a9e url(../img/intranet/header.png) repeat-x top center}
#header .linha-topo{height:77px;padding:5px 0 0}
#header .linha-topo h2{margin:4px 0 0 10px;color:#e2f4ea;font-size:13px;cursor:default;line-height:24px;background:url(../img/intranet/intranet.png) no-repeat left 5px;padding:2px 0 0 60px}
#header .linha-topo h2 big{font-size:26px;display:block}
#header .linha-topo p{color:#6BC2A2;font-size:13px;cursor:default;line-height:70px}
#header .linha-header p{line-height:60px;margin:0;color:#fff;text-align:right;cursor:default;font-size:13px}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	#header .linha-topo h2{font-size:11px}
	#header .linha-topo h2 big{font-size:18px}
	#header .linha-topo p{font-size:12px}
}
@media only screen and (max-width: 768px) {
	#header {background:#034F2F}
	#header .linha-topo,#header .linha-topo div{height:auto;display:block;text-align:center}
	#header .linha-topo h2{background-position:top center;padding:45px 0 0;margin:10px 0 0}
	#header .linha-topo p,#header .linha-header p{line-height:normal;margin:20px 0;text-align:center}
}

#conteudo{background:#f3f3f3;padding:20px 0}
#conteudo h2{color:#373737;font-size:20px;cursor:default;margin:0}
#conteudo h2 i{font-size:30px;display:inline-block;vertical-align:bottom}
#conteudo h2 img{display:inline-block;vertical-align:sub}
#conteudo h3{color:#a42627;font-size:20px;line-height:24px;cursor:default;margin:0 0 10px;background:url(../img/intranet/suport.png) no-repeat left center;padding:5px 0 5px 55px}
#conteudo h3 small{color:#515151;font-size:12px;display:block}

#conteudo select{border-radius:5px;border-color:#d5d5d5;color:#d5d5d5;font-size:12px;min-width:200px}

@media only screen and (max-width: 465px) {
	#conteudo select{width:auto;max-width:100%}
}

#conteudo .servicos{list-style:none;margin:20px 0;padding:0}
#conteudo .servicos li{background:#fff;width:140px;height:150px;text-align:center;border:2px solid #d5d5d5;border-radius:5px;display:inline-block;vertical-align:top;margin:0 21px 21px 0}
#conteudo .servicos li:nth-child(4n){margin-right:0}
#conteudo .servicos li a{display:block;width:120px;height:140px;color:#747474;text-decoration:none;font-size:13px;line-height:16px;margin:auto}
#conteudo .servicos li a img{display:block;margin:auto}
#conteudo .servicos li a:hover{opacity:0.5}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	#conteudo .servicos li{width:125px;margin:0 6px 6px 0}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	#conteudo .servicos li{width:123px;margin:0 6px 6px 0}
	#conteudo .servicos li:nth-child(4n){margin-right:6px}
	#conteudo .servicos li:nth-child(3n){margin-right:0}
}
@media only screen and (max-width: 768px) {
	#conteudo .servicos{text-align:center}
	#conteudo .servicos li{width:119px;margin:0 6px 6px 0}
	#conteudo .servicos li:nth-child(4n){margin-right:6px}
	#conteudo .servicos li:nth-child(3n){margin-right:6px}
}
@media only screen and (max-width: 465px) {
	#conteudo .servicos li{width:100%;margin:10px 0}
	#conteudo .servicos li:nth-child(4n){margin-right:0}
	#conteudo .servicos li:nth-child(3n){margin-right:0}
}

#conteudo .mensagens{list-style:none;margin:20px 0;padding:0;background:#edeef0;padding:10px 20px;border-top:1px solid #f7f8fa;border-bottom:1px solid #f7f8fa}
#conteudo .mensagens li{display:block;border-bottom:1px solid #f7f8fa;border-top:1px solid #e9eaec;color:#136f56;padding:10px 0;cursor:default}
#conteudo .mensagens li a{color:#999a9c;font-size:13px;line-height:14px}
#conteudo .mensagens li a b{color:#464749;display:block;font-size:16px}
#conteudo .mensagens li:first-child{border-top:none;font-weight:bold}
#conteudo .mensagens li:last-child{border-bottom:none;text-align:right}
#conteudo .mensagens li:last-child a{color:#136f56;font-weight:bold}

#conteudo .atendimento{background:url(../img/intranet/24h.png) no-repeat left 3px;padding:0 0 0 30px;cursor:default;margin:15px 0}
#conteudo .atendimento h4{margin:0;color:#797979;font-size:15px}
#conteudo .atendimento p{margin:0;color:#535353;font-size:14px;font-weight:bold}
#conteudo .atendimento{background:url(../img/intranet/24h.png) no-repeat left 3px;padding:0 0 0 30px;cursor:default}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	#conteudo .atendimento p{font-size:12px}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	#conteudo .atendimentos{display:block}
}
@media only screen and (max-width: 465px) {
	#conteudo .titulos{display:block}
	#conteudo .atendimentos{display:block}
}

#conteudo .chat{margin:20px 0;text-align:center}
#conteudo .chat p{margin:2px 0 0;color:#a9a9a9;font-size:13px;font-weight:bold;cursor:default}
#conteudo .chat .btn{display:inline-block;background:#822b31;background:linear-gradient(#9d6568, #822b31);color:#fff;padding:5px 10px;border-radius:5px;border:2px solid #5b0e04;font-weight:bold}
#conteudo .chat .btn:hover{text-decoration:none;opacity:0.8}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	#conteudo .chat .btn{font-size:12px}
	#conteudo .chat p{font-size:11px}
}

#conteudo .status div{margin:20px 10px}
#conteudo .status p{margin:0;color:#575757;font-size:14px;cursor:default}
#conteudo .status p span{display:inline-block;border-radius:50px;background:#ccc;width:12px;height:12px}
#conteudo .status p span.online{background:#00af58}
#conteudo .status p span.offline{background:#e92b2d}

#footer{padding-top:15px;padding-bottom:15px;margin-top:0;background:#034F2F}
#footer p{margin:0;color:#fff;text-align:center;cursor:default;font-size:14px}

#copyright{margin-top:10px;margin-bottom:10px}
#copyright p{color:#606062;font-size:10px;margin:0;cursor:default}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	#copyright .row{justify-content:center !important;text-align:center}
}
@media only screen and (max-width: 768px) {
	#copyright .row{justify-content:center !important;text-align:center}
}