/* CSS Document
*
* @autor Fernanda Pieretti
* @data dez2017
* @ref style.css
*
*/

body{font-family:Lato;color:#363636}
hr{border:none;border-top:1px dashed #cfd1d3;height:0;width:95%;margin:5px auto}
.flex{display:-ms-flexbox;display:flex}
.marginTop0{margin-top:0 !important}

#mask{display:none;width:100%;height:100%;position:fixed;z-index:9;top:0;left:0;background:#000;opacity:0.5}
#mask.ativo{display:block}
#abrir-menu{display:none;position:absolute;z-index:11;top:5px;right:0;width:30px;height:20px;cursor:pointer;background:none;border:none;outline:none}
#abrir-menu span{display:block;width:100%;height:3px;background:#0F6943;margin-bottom:3px}
#abrir-menu.ativo{position:fixed}
#abrir-menu.ativo span{background:#fff}
#abrir-menu.ativo span:first-child{-ms-transform: rotate(130deg); -webkit-transform: rotate(130deg); transform: rotate(130deg);    margin-top: 4px;}
#abrir-menu.ativo span:first-child +span{-ms-transform: rotate(-130deg); -webkit-transform: rotate(-130deg); transform: rotate(-130deg);margin-top: -6px;}
#abrir-menu.ativo span:first-child +span +span{display:none}
@media only screen and (max-width: 465px) {
	#abrir-menu{display:block}
}

#header{background:url(../img/bg/header.png) repeat-x top center}
#header .linha-topo h2{margin:0;color:#0F6943;font-size:13px;cursor:default;margin-left:140px;line-height:30px}
#header .linha-topo ul{margin:0;padding:0;height:30px}
#header .linha-topo ul li{list-style:none;padding-left:12px;margin-left:12px;line-height:30px;border-left:1px solid #ddd}
#header .linha-topo ul li:first-child{padding-left:0;margin-left:0;border-left:none}
#header .linha-topo ul li a{color:#727376;font-size:13px;display:block}
#header .linha-topo ul li a:hover{filter:brightness(140%)}
#header .linha-header .logo{display:block;margin:-20px 19px 0 0}
#header .linha-header h1{margin:5px 0 0;color:#CBA44B;font-size:23px;line-height:26px;cursor:default;font-weight:400}
#header .linha-header h1 b{font-size:64px;line-height:50px;font-weight:700;margin:0 13px 0 -2px}
#header .linha-header h3{margin:0;color:#E6E7E8;font-size:14px;cursor:default;font-weight:300;line-height:30px}
#header .linha-header h5{margin:0;color:#E6E7E8;font-size:19px;cursor:default;font-weight:300;line-height:40px}
#header .linha-header .linha-nome{height:80px;margin-left:30px}
#header .linha-header .linha-nome p{margin:0;color:#E6E7E8;font-size:18px;cursor:default;font-weight:300;line-height:25px}
#header .linha-header .linha-nome p b{display:block}
#header .linha-header .linha-nome a{color:#6BC2A2}
#header .linha-header .linha-nome a:hover{filter:brightness(130%)}
#header .linha-header .linha-nome a img{margin:-3px 2px 0 0}
#header .linha-header .linha-acesso{height:45px;margin-left:30px}
#header .linha-header .linha-acesso p{margin:0;color:#BDBFC1;font-size:13px;cursor:default;font-weight:300;line-height:18px}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	#header .linha-topo ul li{padding-left:6px;margin-left:6px}
	#header .linha-topo ul li a{font-size:12px}
	#header .linha-header h1{font-size:15px}
	#header .linha-header .linha-nome p{font-size:14px}
	#header .linha-header .linha-nome a{font-size:12px}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	#header .linha-topo h2{margin-left:0}
	#header .linha-topo ul li{padding-left:1px;margin-left:1px}
	#header .linha-topo ul li a{font-size:10px}
	#header .linha-header h1{font-size:12px;line-height:16px}
	#header .linha-header h1 b{font-size:40px;line-height:31px}
	#header .linha-header h3{margin-top:16px}
	#header .linha-header h5{font-size:16px}
	#header .linha-header .linha-nome{display:block !important}
	#header .linha-header .linha-nome p{font-size:14px}
	#header .linha-header .linha-nome a{font-size:12px}
	#header .linha-header .logo{margin-top:20px}
	#header .linha-header .logo img{width:85px}
	#header .linha-header .linha-acesso p{font-size:11px}
}
@media only screen and (max-width: 768px) {
	#header{background-position:top left}
	#header .linha-topo ul{display:none}
	#header .linha-header h1{font-size:21px}
}
@media only screen and (max-width: 465px) {
	#header .linha-topo{display:block !important}
	#header .linha-topo h2{margin-left:0;text-align:center}
	#header .linha-header .flex{display:block !important}
	#header .linha-header .logo{margin:10px auto 0;display:table}
	#header .linha-header h1{display:block !important;text-align:center}
	#header .linha-header h1 b{display:block;margin:0 0 5px}
	#header .linha-header h3,#header .linha-header h5{text-align:center}
	#header .linha-header .linha-nome{margin-left:0;margin-top:10px;text-align:center;height:auto}
	#header .linha-header .linha-acesso{display:none !important}
}

#header-small{background:url(../img/bg/header-small.png) repeat-x top center;padding:4px 0}
#header-small h1{color:#E6E7E8;font-size:17px;font-weight:normal;margin:0 0 0 5px;cursor:default}
#header-small h1 b{color:#CBA44B;font-weight:normal}
#header-small p{color:#FEFEFE;font-size:14px;cursor:default;margin:0}
#header-small img{height:35px}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	#header-small h1{font-size:15px}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	#header-small h1{font-size:12px}
	#header-small p{font-size:10px}
}
@media only screen and (max-width: 768px) {
	#header-small{text-align:center;background-position:left top}
	#header-small img {display:block;margin:auto;height:70px}
	#header-small .linha-topo,#header-small h1 b{display:block}
}

#nav{background:#0B4A9E;text-align:center}
#nav ul{margin:0;padding:0;background:linear-gradient(#3e6e99, #0B4A9E)}
#nav ul li{list-style:none;max-width:125px;min-width:80px;position:relative}
#nav ul li a{display:block;font-size:13px;font-weight:300;color:#FEFEFE;padding:8px 0}
#nav ul li a:hover{font-weight:bold;text-decoration:none}
#nav ul li span{position:absolute;width:100%;left:0;top:100%;background:#fff;z-index:2;border:1px solid #0B4A9E;display:none}
#nav ul li span:after{content:'';width:0;height:0;position:absolute;z-index:1;top:-16px;left:50%;margin-left:-11px;border:11px solid transparent;border-bottom-color:#fff}
#nav ul li span a{color:#0B4A9E;font-size:12px;padding:5px;line-height:13px}
#nav ul li:hover span{display:block}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	#nav ul li a{font-size:11px}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	#nav ul li a{font-size:10px}
}
@media only screen and (max-width: 768px) {
	#nav{display:none;position:fixed;z-index:10;top:0;left:0;width:250px;height:100%;overflow:auto}
	#nav.ativo{display:block}
	#nav ul{display:block;background:none}
	#nav ul li{min-width:100%;text-align:left}
	#nav ul li a{padding-left:5px}
	#nav ul li span{display:block;position:inherit}
}

#content{background:url(../img/bg/content.png) repeat-x top center;padding:10px 0}
#content h3{margin:0;font-size:14px}
#content p{margin:0;color:#fff;cursor:default}
#content .assinatura p{color:#4B4B4D;font-size:10px}
#content .assinatura img{margin:0 10px;width:69px;height:77px}
#content .botoes a{background:#E0E0E0;padding:7px;text-align:center;font-size:11px;color:#727376;min-width:90px;margin-left:5px;box-shadow:0 0 5px #666;border-radius:5px}
#content .botoes a:hover{filter:brightness(90%);text-decoration:none}
#content .botoes a img{display:block;margin:0 auto 15px}
#content .botoes a:first-child img{margin:0 auto 5px}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	#content{background-image:url(../img/bg/content-2.png)}
	#content p{font-size:14px}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	#content{background-image:url(../img/bg/content-3.png)}
	#content p{font-size:12px}
	#content .botoes{display:block}
	#content .botoes a{display:block;text-align:left;font-size:10px;margin:0 0 8px}
	#content .botoes a img{display:inline-block;height:15px;margin:0 5px 0 0 !important}
}
@media only screen and (max-width: 768px) {
	#content{background:#e0e0e0}
	#content .assinatura{margin-top:20px;margin-bottom:20px}
	#content .botoes{display:block}
	#content .botoes a{display:inline-block;text-align:left;font-size:10px;margin:0 0 8px}
	#content .botoes a img{display:inline-block;height:15px;margin:0 5px 0 0 !important}
	#content .assinatura img{margin:0 10px 0 0}
}

#conteudo.fundo{background:url(../img/bg/fundo.png) no-repeat right center}
#conteudo .menu{height:600px;overflow:auto;padding-top:10px}
#conteudo .menu h3{font-size:14px;color:#4B4B4D;cursor:default}
#conteudo iframe.pdf{width:100%;height:600px;border:none;display:block}
@media only screen and (max-width: 768px) {
	#conteudo .menu{height:auto}
}

#conteudo .breadcrumb {margin-top:40px}
#conteudo .breadcrumb p{display:inline-block;margin:0;color:#373435;text-transform:uppercase;background:#E6E7E8;font-weight:400;padding:2px 10px 2px 25px;margin-right:14px;cursor:default;position:relative}
#conteudo .breadcrumb p:after{content:'';width:0;height:100%;position:absolute;z-index:1;top:0;left:0;border:14px solid transparent;border-left-color:#fff}
#conteudo .breadcrumb p:before{content:'';width:0;height:100%;position:absolute;z-index:1;top:0;right:-28px;border:14px solid transparent;border-left-color:#E6E7E8}
#conteudo .breadcrumb p.select{background:#0F6943;color:#fff}
#conteudo .breadcrumb p.select:before{border-left-color:#0F6943}
#conteudo .breadcrumb a{color:#0F6943}
@media only screen and (max-width: 768px) {
	#conteudo .breadcrumb .flex{display:block !important}
	#conteudo .breadcrumb a{margin-top:20px;display:inline-block}
	#conteudo .breadcrumb p{display:block;padding:3px 5px}
	#conteudo .breadcrumb p:after,#conteudo .breadcrumb p:before{display:none}
}

#conteudo .descricao{margin-top:40px}
#conteudo .descricao p{margin:0;color:#727376;font-size:14px;cursor:default}
#conteudo .conteudo {margin-top:40px}

#conteudo h1{cursor:default;color:#0F6943;font-size:32px;text-transform:uppercase}
#conteudo h2{color:#0F6943;font-size:20px;cursor:default;margin-bottom:20px;padding-top:5px}
#conteudo h2 i{color:#A9ABAE;font-size:16px;font-weight:normal}
@media only screen and (max-width: 768px) {
	#conteudo h2{margin-bottom:10px}
	#conteudo h2 i{display:block}
}
@media only screen and (max-width: 465px) {
	#conteudo h2{font-size:16px}
	#conteudo h2 i{display:block}
}

#conteudo .bloco{margin-top:50px;padding-left:120px}
#conteudo .bloco.bc1{background:url(../img/bg/bc1.png) repeat-y left center}
#conteudo .bloco.bc2{background:url(../img/bg/bc2.png) repeat-y left center}
#conteudo .bloco.bc3{background:url(../img/bg/bc3.png) repeat-y left center}
#conteudo .bloco.bc4{background:url(../img/bg/bc4.png) repeat-y left center}
#conteudo .bloco.bc5{background:url(../img/bg/bc5.png) repeat-y left center}
#conteudo .bloco.bc6{background:url(../img/bg/bc6.png) repeat-y left center}
#conteudo .bloco.bc7{background:url(../img/bg/bc7.png) repeat-y left center}
@media only screen and (max-width: 465px) {
	#conteudo .bloco{background-position:-21px center !important;padding-left:90px}
}

#conteudo form a{color:#0B4A9E;font-weight:bold;font-size:16px;margin-bottom:10px}
#conteudo form label{margin:0 0 5px;color:#727376;font-size:14px}
#conteudo form label.full{display:block}
#conteudo form label.visualiz{margin:0 0 10px}
#conteudo form label.visualiz .form-input{margin:0}
#conteudo form .form-input{width:100%;border:2px solid #cfd1d3;border-radius:3px;padding-left:8px;height:30px;line-height:30px;margin:0 0 10px;outline:none}
#conteudo form .form-input.search{background:#fff url(../img/icons/lupa-cinza.png) no-repeat right center}
#conteudo form textarea.form-input{height:225px}
#conteudo form .form-input.small{width:auto;margin-left:10px}
#conteudo form .form-input.half{width:49%}
#conteudo form .form-input.right{float:right}
@media only screen and (max-width: 768px) {
	#conteudo form label{margin:0}
	#conteudo form .form-input.half{width:100%}
	#conteudo form .form-input.right{float:none}
}
@media only screen and (max-width: 465px) {
	#conteudo form .form-input.small{width:100%;margin-left:0}
	#conteudo form .btn{min-width:130px}
}

#conteudo .indicadores div{background:#E6E7E8;padding:10px;color:#0F6943;text-align:right;margin:30px 0 10px}
#conteudo .indicadores div b{display:block;font-size:45px;line-height:45px}
#conteudo .indicadores div:first-child +div{margin-left:10px;margin-right:10px}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	#conteudo .indicadores div{font-size:12px}
}
@media only screen and (max-width: 768px) {
	#conteudo .indicadores{display:none}
	#conteudo .itens{display:block;margin-top:15px}
}

#conteudo .acoes{margin-top:30px}
#conteudo .acoes .btn{margin:0 0 0 10px;font-weight:bold}
#conteudo .acoes .btn:first-child{margin:0}
#conteudo .btn{display:block;min-width:160px;text-decoration:none;border-radius:3px;color:#fff;line-height:30px;border:none;text-align:center;cursor:pointer}
#conteudo .btn.cinza{background:#4B4B4D}
#conteudo .btn.cinza:hover{background:#0F6943}
#conteudo .btn.cinza:active{filter:brightness(120%)}
#conteudo .btn.voltar{background:#4B4B4D}
#conteudo .btn.voltar:hover{filter:brightness(120%)}
#conteudo .btn.voltar:active{filter:brightness(140%)}
#conteudo .btn.salvar{background:#0F6943}
#conteudo .btn.salvar:hover{filter:brightness(120%)}
#conteudo .btn.salvar:active{filter:brightness(140%)}
#conteudo .btn.claro{background:#848688}
#conteudo .btn.claro:hover{filter:brightness(120%)}
#conteudo .btn.claro:active{filter:brightness(140%)}
#conteudo .btn.preto{background:#4B4B4D}
#conteudo .btn.preto:hover{filter:brightness(120%)}
#conteudo .btn.preto:active{filter:brightness(140%)}
#conteudo .btn.verde{background:#0F6943}
#conteudo .btn.azul{background:#0B4A9E}
#conteudo input[type=submit].btn{width:100%;min-width:0}
@media only screen and (max-width: 768px) {
	#conteudo .acoes{display:block;text-align:center}
	#conteudo .acoes .btn{margin:10px 0;display:inline-block}
}

#conteudo .barra{background:#167854;padding:10px}
#conteudo .barra p,#conteudo .barra label{margin:0;color:#fff}
#conteudo .barra div button{display:inline-block;vertical-align:middle;width:200px;height:35px;border:none;cursor:pointer;font-size:14px;color:#fff;background:linear-gradient(#30866c, #2d7452)}
#conteudo .barra div button:hover{filter:brightness(110%)}
#conteudo .barra div button:active{filter:brightness(120%)}
#conteudo .barra select{color:#727376;width:180px;height:34px;border:none;border-radius:2px}
#conteudo .barra .btn{display:block;background:linear-gradient(#3e6e99, #0B4A9E);text-decoration:none;border-radius:3px;color:#fff;width:140px;line-height:35px;border:none;text-align:center;cursor:pointer}
#conteudo .barra .btn:hover{filter:brightness(110%)}
#conteudo .barra .btn:active{filter:brightness(120%)}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	#conteudo .barra div button{width:145px}
	#conteudo .barra select{width:145px}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	#conteudo .barra select{width:145px;margin-right:10px}
}
@media only screen and (max-width: 768px) {
	#conteudo .barra,#conteudo label,#conteudo .barra .btn,#conteudo .barra div button,#conteudo .barra select{display:block !important;width:100%;margin-top:3px}
}

#conteudo .box{margin-top:30px;background:#F5F5F5}
#conteudo .box.transparent{background:none}
#conteudo .box h2{padding-left:45px;color:#fff;padding-top:0}
#conteudo .box h2.dados{background:#167854 url(../img/icons/dados.png) no-repeat left center}
#conteudo .box h2.partes{background:#167854 url(../img/icons/partes.png) no-repeat left center}
#conteudo .box h2.tramitacao{background:#4D8571 url(../img/icons/tramitacao.png) no-repeat left center}
#conteudo .box h3{color:#4B4B4D;font-size:16px;cursor:default}
#conteudo .box h5{color:#A53692;font-size:28px;cursor:default}
#conteudo .box p{margin:0;font-size:14px;display:flex}
#conteudo .box p label{display:inline-block;margin:0;min-width:320px;width:320px;max-width:100%;font-weight:bold}
#conteudo .box button{display:inline-block;margin:15px 0 15px 15px;padding:5px 10px;border-radius:3px;border:none;cursor:pointer}
#conteudo .box button.small{margin:3px;padding:3px 10px;font-size:17px;font-weight:normal}
#conteudo .box button.azul{background:#0B4A9E;color:#FFCC29}
#conteudo .box button.cinza{background:#CCDED5;color:#373435}
#conteudo .box button.preto{background:#4B4B4D;color:#FFF}
#conteudo .box button.preto:hover{filter:brightness(120%)}
#conteudo .box button.preto:active{filter:brightness(140%)}
#conteudo .box button.verde{background:#167854;color:#FFF}
#conteudo .box button.verde:hover{filter:brightness(110%)}
#conteudo .box button.verde:active{filter:brightness(120%)}
#conteudo .box table{width:100%;border-collapse:collapse;border-top:2px solid #F5F5F5;background:#fff}
#conteudo .box table tr th{padding:5px;font-size:16px;color:#4B4B4D}
#conteudo .box table tr td{padding:5px;font-size:14px;color:#727376}
#conteudo .box table tr td:first-child{font-weight:bold}
#conteudo .box table tr:nth-child(2n){background:#F5F5F5}
#conteudo .box table tr:hover{background:#e1e1e1}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	#conteudo .box p label{min-width:225px;width:225px}
}
@media only screen and (max-width: 768px) {
	#conteudo .box p{display:block;margin-bottom:15px}
	#conteudo .box div.flex{display:block}
	#conteudo .box p label{min-width:100%;max-width:100%}
	#conteudo .box h2.tramitacao{display:block}
}

#conteudo .scroll{width:100%;display:block;overflow:auto}
#conteudo .table-default{width:100%;border-collapse:collapse;margin-top:50px;background:#fff;border-bottom:3px solid #0F6943}
#conteudo .table-default tr th{padding:10px;font-size:16px;color:#fff;background:#0F6943}
#conteudo .table-default tr td{padding:10px;font-size:14px;color:#727376;white-space:nowrap}
#conteudo .table-default tr:nth-child(2n){background:#F5F5F5}
#conteudo .table-default tr:hover{background:#e1e1e1}
#conteudo .table-default .acoes{min-width:130px}
#conteudo .table-default .acoes a{background:#E6E7E8;color:#0F6943;width:25px;height:25px;display:inline-block;vertical-align:middle;text-align:center;line-height:25px;border-radius:3px;font-size:16px;cursor:pointer}
#conteudo .table-default .vermelho{color:#990000 !important;font-weight:bold}

#conteudo .paginacao{display:block;margin-top:40px;text-align:center}
#conteudo .paginacao a{display:inline-block;background:#EFEFEF;padding:2px 10px;margin:2px 0;border:1px solid #cdcdcd;border-radius:2px;color:#7C7C7C}
#conteudo .paginacao a:hover,#conteudo .paginacao a.select{text-decoration:none;background:#034F2F;color:#fff}

#footer{padding-top:15px;padding-bottom:15px;margin-top:50px;background:#034F2F}
#footer p{margin:0;color:#fff;text-align:center;cursor:default;font-size:14px}

#copyright{margin-top:10px;margin-bottom:10px}
#copyright p{color:#606062;font-size:10px;margin:0;cursor:default}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	#copyright .row{justify-content:center !important;text-align:center}
}
@media only screen and (max-width: 768px) {
	#copyright .row{justify-content:center !important;text-align:center}
}